body{
    font-family: 'Times New Roman', Times, serif;
}
*{
    margin: 0px;
}
#part{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
#part1{
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* #part1 i{
    font-style: italic;
} */
/* #part3 a{
font-style: italic;
} */

header{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     
}
nav{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
#part2{
    padding-left: 10px;
}

#part3{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    
}
li{
    list-style: none;
    
}
#part3 a{
    text-decoration: none;
    color: black;   
    cursor: pointer;
}
#part3 a:hover
{
    color: aqua;
}
#part3 a:link
{
    color: aqua;
}
#imgpart1{
    height: 400px;
}

#imgpart1 img{
    width: 100%;
    height: 400px;
    
}
#imgpart1 h1{
    margin-left: 40px;
    display: flex;
    justify-content: left;
    position: relative;
    left: 0px;
    width: 500px;   
    bottom: 385px;
}

#imgpart1 p{
    margin-left: 40px;
    display: flex;
    justify-content: left;
    position: relative;
    left: 0px;
    width: 500px;   
    bottom: 355px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#imgpart1 button{
    background-color: rgb(14, 155, 216);
    color: white;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 100px;
    height: 40px;   
    bottom: 335px;
    border: none;
}

#part4{
    margin-top: 15px;
    margin-left: 40px;
    display: flex;
    justify-content: left;
    
}
#part4 h1{
    width: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 30px; 
}
.part5color {
    color: rgb(26, 154, 154);

}
#part4 p{
    font-size: 20px; 
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    top: 40px;
    right: 130px;
    width: 1000px;
}

#part6{
    margin-left: 70px;
    background-color:whitesmoke;
    position: relative;
    top: 200px;
    right: 1150px;
    width: 450px;
    height: 200px;

}
#part6 img{
    padding-left: 20px;
    padding-top: 10px;
    width: 180px;
    height: 150px;
}
#part6 h1{
    margin: 10px;
    position: relative;
    left: 260px;
    bottom: 150px;
    width: 200px;
    font-size: 25px;
}
#part6 p{
    padding-left: 400px;
    position: relative;
    right: 130px;
    bottom: 150px;
    text-align: justify;
    width: 150px;
}
#part6 a{
    position: relative;
    bottom: 142px;
    left: 180px;
    background-color: transparent;
    color: rgb(14, 93, 203);
    border: none;
    font-style: bold;
    font-size: 15px;
    text-decoration: none;
}
#part7{
    background-color: whitesmoke;
    width: 450px;
    height: 200px;
    position: relative;
    left: 720px;
    top: 65px;
    
}
#part7 img{
    padding-left: 20px;
    padding-top: 10px;
    width: 200px;
    height: 150px;
}
#part7 h1{
    margin: 10px;
    position: relative;
    left: 250px;
    bottom: 150px;
    width: 200px;
}
#part7 p{
    padding-left: 400px;
    position: relative;
    right: 130px;
    bottom: 150px;
    text-align: justify;
    width: 150px;
}
#part7 a{
    position: relative;
    bottom: 142px;
    left: 200px;
    background-color: transparent;
    color: rgb(14, 93, 203);
    border: none;
    font-style: bold;
    font-size: 15px;
    text-decoration: none;
}

#part8{
    background-color: whitesmoke;
    width: 450px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 135px;
    
}
#part8 img{
    padding-left: 20px;
    padding-top: 10px;
    width: 180px;
    height: 150px;
}
#part8 h1{
    margin: 10px;
    position: relative;
    left: 240px;
    bottom: 150px;
    width: 200px;
}
#part8 p{
    padding-left: 400px;
    position: relative;
    right: 130px;
    bottom: 150px;
    text-align: justify;
    width: 150px;
}
#part8 a{
    position: relative;
    bottom: 142px;
    left: 190px;
    background-color: transparent;
    color: rgb(14, 93, 203);
    border: none;
    font-style: bold;
    font-size: 15px;
    text-decoration: none;
}


#part9{
    background-color: whitesmoke;
    width: 450px;
    height: 200px;
    position: relative;
    left: 720px;
    top: -65px;
    
}
#part9 img{
    padding-left: 50px;
    padding-top: 10px;
    width: 100px;
    height: 150px;
}
#part9 h1{
    margin: 10px;
    position: relative;
    left: 260px;
    bottom: 150px;
    width: 200px;
}
#part9 p{
    padding-left: 400px;
    position: relative;
    right: 130px;
    bottom: 150px;
    text-align: justify;
    width: 150px;
}
#part9 a{
    position: relative;
    bottom: 142px;
    left: 200px;
    background-color: transparent;
    color: rgb(14, 93, 203);
    border: none;
    font-style: bold;
    font-size: 15px;
    text-decoration: none;
}

#Container{
    background-color: rgb(3, 31, 76);
    width: 100%;
    height: 250px;
    position: relative;
    top: 100px;
}
#part20 h1{
    margin-left: 60px;
    position: absolute;
    top: 30px;
    color: white;
}
#part20 tr{
    margin-left: 60px;
    display: flex;
    position: relative;
    top: 80px;
    
}
#part20 i{
    color: white;
}
#part20 a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}
#Icons
{
    margin-left: 25px;
    position: absolute;
    bottom: 30px;
    color: white;
    text-indent: 20px;
}
#part21 h1
{
    margin-left: 60px;
    position: absolute;
    top: 30px;
    left: 300px;
    color: white;
}
#part21 p{
    width: 200px;
    position: absolute;
    top: 80px;
    left: 360px;
    color: white;  
}
#part22 h1
{
    margin-left: 60px;
    position: absolute;
    top: 30px;
    left: 680px;
    color: white;
}
#part22 a
{   
    margin-left: 750px;
    position: relative;
    line-height: 30px;
    bottom: 20px;
    color: white;   
}
#part23 h1
{
    margin-left: 1050px;
    position: absolute;
    top: 30px;
    color: white;
}

#part23 input{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 90px;
    margin-left: 1040px;
    /* border: none; */
    background: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(254, 253, 253);
}
#part23 button
{
    width: 185px;
    height: 50px;
    position: absolute;
    left: 1040px;
    top: 140px;
    background-color:rgb(13, 200, 238);
    border: none;
}
#part23 p
{
    position: absolute;
    top: 255px;
    margin-left: 500px;
}
